@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.grid-container {
    opacity: 0;
    border-radius: 40px;
    background-image: linear-gradient(to top, #dbffeb 0%, #fffeda 100%);
    width: 70%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "selecionar selecionar nome nome"
        "musicas musicas musicaPlayer musicaPlayer"
        "musicas musicas musicaPlayer musicaPlayer";

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: all 0.5s ease;
    transform: translateY(-500px);
}

.selecionar {
    grid-area: selecionar;

    h2 {
        font-weight: 500;
    }
}

.nome {
    grid-area: nome;
    background-color: #333;
    color: white;
    border-top-right-radius: 40px;
}

#nomeDaMusica {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    color: #6fdb9a;
}

.musicaPlayer {
    grid-area: musicaPlayer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    border-bottom-right-radius: 40px;

    img {
        max-width: 398px;
    }
}

#imgDaMusica {
}

.musicas {
    grid-area: musicas;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(232, 255, 198);
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(220, 255, 167);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(54, 78, 18);
    }

    div {
        width: 100%;
        height: 100px;
        cursor: pointer;
        transition: 0.2s all ease;

        &:hover {
            background-color: #e4e6eb;
        }
    }

    &:last-child:hover {
        border-bottom-left-radius: 40px;
    }
}

#controllers {
    margin-bottom: 4px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    display: none;

    img {
        max-width: 32px;
        display: block;
        cursor: pointer;
        margin: 0px 12px;
        border: 3px solid transparent;
        border-radius: 20px;
        filter: invert(1);

        &:hover {
            transform: scale(1.2, 1.2);
            border-top: 3px outset rgb(204, 79, 99);
        }
    }

    .repeaterIconToggle {
        border-top: 3px outset rgb(5, 131, 58);
    }

    input[type="range"] {
        width: 100px;
        margin: 7.2px 25px;
        background-color: transparent;
        -webkit-appearance: none;
    }
    input[type="range"]:focus {
        outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        background: rgba(184, 255, 199, 0.4);
        border: 0.1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5px;
        width: 100%;
        height: 2px;
        cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
        margin-top: -7.3px;
        width: 9px;
        height: 16px;
        background: #6fdb9a;
        border: 1.6px solid #008d6d;
        cursor: pointer;
        -webkit-appearance: none;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #bdffcb;
    }
    input[type="range"]::-moz-range-track {
        background: rgba(184, 255, 199, 0.4);
        border: 0.1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5px;
        width: 100%;
        height: 4.6px;
        cursor: pointer;
    }
    input[type="range"]::-moz-range-thumb {
        width: 9px;
        height: 19px;
        background: #6fdb9a;
        border: 1.6px solid #008d6d;
        cursor: pointer;
    }
    input[type="range"]::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 7.2px 0;
        color: transparent;
        width: 100%;
        height: 4.6px;
        cursor: pointer;
    }
    input[type="range"]::-ms-fill-lower {
        background: #b3ffc3;
        border: 0.1px solid rgba(0, 0, 0, 0.2);
        border-radius: 1px;
    }
    input[type="range"]::-ms-fill-upper {
        background: rgba(184, 255, 199, 0.4);
        border: 0.1px solid rgba(0, 0, 0, 0.2);
        border-radius: 1px;
    }
    input[type="range"]::-ms-thumb {
        width: 9px;
        height: 19px;
        background: #6fdb9a;
        border: 1.6px solid #008d6d;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
    }
    input[type="range"]:focus::-ms-fill-lower {
        background: rgba(184, 255, 199, 0.4);
    }
    input[type="range"]:focus::-ms-fill-upper {
        background: #bdffcb;
    }
}

#volumeShow {
    position: absolute;
    width: 50px;
    max-height: 22px;
    background-color: #6fdb9a;
    padding: 10px;
    border-radius: 15px;
    right: 0;
    bottom: 60px;
    display: flex;
    margin-right: 73px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;

    &:hover {
        opacity: 0.8;
    }
}

.selecionar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.faixa {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;

    & > div {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    img {
        border-radius: 2px;
        max-width: 100px;
        border: 3px solid #333;
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
    }

    p {
        font-size: 0.8rem;
    }
}

.mostrarInfo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

audio {
    width: 85%;
    outline: none;
}

audio::-webkit-media-controls-panel {
    width: 200px;
}

input[type="range"] {
    width: 100%;
    margin: 30px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #31ce56;
    border: 0.2px solid white;
    border-radius: 1.3px;
    width: 100%;
    height: 2.1px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    margin-top: -8.65px;
    width: 5px;
    height: 19px;
    background: rgba(37, 175, 102, 0.8);
    border: 1.8px solid #333;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #c9f2d3;
}
input[type="range"]::-moz-range-track {
    background: #31ce56;
    border: 0.2px solid white;
    border-radius: 1.3px;
    width: 100%;
    height: 2.1px;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width: 5px;
    height: 19px;
    background: rgba(37, 175, 102, 0.8);
    border: 1.8px solid white;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.45px 0;
    color: transparent;
    width: 100%;
    height: 2.1px;
    cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
    background: #0d3616;
    border: 0.2px solid white;
    border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
    background: #31ce56;
    border: 0.2px solid white;
    border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
    width: 5px;
    height: 19px;
    background: rgba(37, 175, 102, 0.8);
    border: 1.8px solid white;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
    background: #31ce56;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #c9f2d3;
}
#copy {
    opacity: 0;
    transform: translateX(200px);
    transition: 0.4s linear;
}
